body { background: #fff url('../img/tree.png') no-repeat; background-size: cover; min-height: 800px; }

body.home { background-position: 0 600px; }

#main { min-height: 620px; background: url('../img/aerial.jpg') no-repeat; background-size: cover; padding-top: 300px; }

#second-tier { padding: 50px 0; }

.navbar-brand {
    position: relative;
    min-height: 60px;
    min-width: 464px;
    top: 0;
    left: 15px;
    background: url('../img/doyle.gif') no-repeat;
}

body.home .navbar-default { border: none; background: none; }
body.home .navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default { border: none; background: none; }
.navbar-default .navbar-nav>li>a { color: #72624f; }

.navbar li { font-weight: 400; font-size: 18px; text-transform: uppercase; letter-spacing: 1px; }

html { margin-top: 0; }

h2 { font-family: 'Proxima Nova'; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; color: #72624f; font-size: 24px; }

h2#site-tagline { font-size: 36px; line-height: 2.5em; color: #fff; font-family: 'Proxima Nova'; font-weight: 200; letter-spacing: 1px; }

.multiline-wrap {
	box-shadow: -10px 0 0 10px #5e7497, 10px 0 0 10px #5e7497;
	opacity: .8;
}
.multiline-inner {
	background: #5e7497;
	position:relative;
}

.multiline-inner a {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px; }

.multiline-inner a:hover { text-decoration: none; color: #ddd; }

.tagline { margin-left: 10px; }

p.lead { font-size: 18pt; color: #72624f; margin-bottom: 0; }

.initialism { font-weight: bold; letter-spacing: 1px; }

.box { background: #fff; border: 3px solid #f2ece4; padding: 30px; }

#content { margin-top: 50px; }

h1.entry-title { color: #5e7497; border-bottom: 3px solid #5e7497; text-transform: uppercase; letter-spacing: 5px; margin-bottom: 30px; padding-bottom: 8px; }

p { font-size: 18px; color: #72624f; line-height: 1.6em; }

#banner { background: #000; min-height: 250px; border-bottom: 50px solid #5e7497; }