html {
    margin-top: 0;
}

body {
    /*background: #fff url('../img/tree.png') no-repeat;*/
    background-size: cover;
    background-position: top;
}

body.home {
    background-position: 0 400px;
}

header {
  background: url('../img/aerial.jpg') no-repeat;
  background-size: cover;
}

.jumbotron{
  min-height: 550px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin-top:-80px;
  margin-bottom:0;
}

#main {
  margin-top:-450px
}



#second-tier {
    padding: 20px 0;
}

.responsive--full {
  width:100%;
}


/* -----------------------NAVBAR----------------------- */


/*Navbar Container Styling*/

.navbar {
  background:none;
  margin-bottom:20px;
  min-height:60px;
  border:none;

}

.navbar-brand {
    top: 0;
    padding: 0;
}


/*Menu Link Styling*/

/*Top Menu Links*/
.navbar-default .navbar-nav li {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;

}


.navbar-default .navbar-nav>li>a {
    color: #fff;
    height:60px;

}

.navbar-default .navbar-nav>li>a:before {
  content:'';
  display:block;
  position:absolute;
  top: 0;
  left:0;
  width:0;
  height:2px;
  background-color:transparent;
  transition: width .5s ease, background-color .5s ease;
}

.navbar-default .navbar-nav>.open>a:before {
  width:100%;
  background-color:white;

}

.navbar-default .navbar-nav>.open>a {
  background-color:#5a6e8c !important;
  color:#fff !important;
}

/*Dropdown Menu Links*/

.navbar-default .dropdown-menu li {
  border-bottom:1px solid #eee;
  padding:5px;
  position:relative;
}

.navbar-default .dropdown-menu li a {
  font-size:12px;

}

.navbar-default .navbar-nav>li:hover>a, .dropdown-menu>li.active >a {
  color:#5a6e8c;
  background:none;
}



.navbar-default .navbar-nav>li:hover>a, .dropdown-menu>li>a:focus {
    background: #5a6e8c;
    color: #fff;
}

.navbar-default .dropdown-menu li a:hover {
  background:none;
  color:#5a6e8c;
}

/*Add a Carot to links in the menu that link to submmenus*/
.navbar-default li.dropdown-submenu > a:after {
  content: "\276F";
  margin-left: 5px;
  color: #5a6e8c;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #eee;
  text-align: center;
  line-height: 18px;
  border-radius: 20px;
}


/* Menu Dropdown and Submenu Dropdown styling*/
.navbar-default .navbar-nav ul.dropdown-menu {
    padding: 0;
    position: absolute;
    list-style-type: none;
    background: #fff;
    border-radius:0;
    box-shadow:none;
    max-height:0;
    opacity:0;
    display:block;
    z-index:0;
    overflow:hidden;
    transition:all, 0.3s ease-in;
}

.navbar-default .navbar-nav  li.open ul.dropdown-menu {
  display:block;
  max-height:300px;
  opacity:1;
  transition: all, 0.3s ease-in;
  z-index:1;
  overflow:visible;
}

/*For rendering the Menu Carots*/
.navbar-default .navbar-nav ul.dropdown-menu::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 100%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 20px;
}


/*For rendering the Sub-menu Carot*/
.navbar-default .navbar-nav li.dropdown-submenu ul.dropdown-menu::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 96%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #eee;
    left: -20px;
    top: 8px;
}


.navbar-default .navbar-nav li.dropdown-submenu ul.dropdown-menu {
    top: 0px;
    left: 100%;
    border-top: none;
    background: #ddd;
    border: none;
    opacity:0;
}

/*For Last 2 Top Links, left-align submenus! */
/*The last item class is being rendered via JS (see dropdown.js)*/


.navbar-default .navbar-nav li.last-items ul.dropdown-menu{
right:0;
left:auto;
}

/*Menu Dropdown*/
.navbar-default .navbar-nav li.last-items ul.dropdown-menu:before {
  right:20px;
  left:auto;
}

/*SubMenu options*/

/*on hover...*/

.navbar-default .navbar-nav li.dropdown-submenu:hover {
color:blue;

}
.navbar-default .navbar-nav li.dropdown-submenu:hover > .dropdown-menu {
  transition: all, 0.3s, ease-in-out;
  opacity:1 !important;
  display: block;
}

.navbar-default .navbar-nav li.last-items li.dropdown-submenu ul.dropdown-menu {
  right:100%;
}

/*Submenu Dropdown Carot Positioning*/
.navbar-default .navbar-nav li.last-items li.dropdown-submenu ul.dropdown-menu::before {
  left: auto;
  right:-20px;
  border-left: 10px solid #eee;
  border-right: 10px solid transparent;
}




/* -----------------------TOP BANNER-----------------------*/

#banner {
    background: url('../img/bridge.jpg') no-repeat;
    background-size: cover;
    min-height: 250px;
    border-bottom: 30px solid #5e7497;
}


/* CONTENT */

#content {
    margin-top: 50px;
}


/* -----------------------TYPE----------------------- */

h1 {
    font-size: 32px;
}

h1.entry-title {
    color: #5e7497;
    border-bottom: 3px solid #5e7497;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-bottom: 8px;
}

h2 {
    font-family: proxima-nova;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #72624f;
    font-size: 20px;
    font-weight: 600;
}

h2#site-tagline {
    font-size: 36px;
    line-height: 2.5em;
    color: #fff;
    font-family: proxima-nova;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 80px;
}

p {
    font-size: 16px;
    color: #72624f;
    line-height: 1.6em;
}

p.lead {
    /* font-size: 16pt; */
    color: #72624f;
    /* margin-bottom: 0; */
}


/* Post Loop */
.loop-item {
padding:10px
}

.loop-inner {
  background: white;
  border:1px solid #eee;
  padding:1em;
  min-height:250px;
  overflow:hidden;
}
/*A Quick and Dirty fix for making the loop container full width on side image templates*/

.page-template-content-side-image .loop-container {
  margin-left:-50%;
  width: 150%;
  position:relative;
}


/*
.multiline-wrap {
	box-shadow: -10px 0 0 10px #5e7497, 10px 0 0 10px #5e7497;
	opacity: .8;
}
.multiline-inner {
	background: #5e7497;
	position:relative;
}

.multiline-inner a {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px; }

.multiline-inner a:hover { text-decoration: none; color: #ddd; }
*/

.padded-multiline {
    line-height: 1.4;
    padding: 2px 0;
    margin: 20px auto;
}

.padded-multiline span {
    background-color: #5e7497;
    opacity: .9;
    color: #fff;
    display: inline;
    padding: 0.45rem 1.45rem;
    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.padded-multiline a {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
}

h2.tagline {
    margin-left: 15px;
}

.initialism {
    font-weight: bold;
    letter-spacing: 1px;
}

.box {
    background: #fff;
    border: 3px solid #f2ece4;
    padding: 30px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.sidebar-photo {
    border: 3px solid #f2ece4;
}

p.logos {
    /*margin-top: 50px;*/
    text-align: center;
}

p.logos img {
    width: 80%;
}


/* ----------------------- MEDIA QUERIES ----------------------- */

@media (max-width: 1199px) {
    .navbar-brand {
        max-width: 200px;
    }
    .navbar-brand img {
        width: 280px;
    }
    .navbar-nav>li>a {
        font-size: 80%;
    }
    h2#site-tagline {
        font-size: 30px;
    }
    .nav>li>a {
        padding: 15px 10px;
    }
    p.logos {
        margin-top: 50px;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1198px) {
    p.logos img {
        width: 100%;
    }



}

@media (min-width: 769px) and (max-width: 1170px) {
    p.logos img {
        width: 40%;
    }
    .carousel-control.left, .carousel-control.right {
    top: -25%;
    color: rgba(255, 255, 255, 0.62) !important;
    font-size:35px;
}
}

@media (max-width: 991px) {
  .page-template-content-side-image .loop-container {
    width: 100%;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
    p.logos img {
        width: 60%;
    }

    /*Navbar Mobile Styling*/
    .navbar-header, div.navbar-collapse {
        background: #5e7497;
        min-height: 60px;
    }
    ul.nav.navbar-nav {
        width: 100%;
        margin: 0;
        padding:0;
    }
    .navbar-collapse {
        padding: 0;
    }

    .navbar-default .navbar-toggle {
      border:none;
    }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background:none;
  }
  .navbar-default .navbar-toggle:hover > .icon-bar, .navbar-default .navbar-toggle:focus > span.icon-bar {
    transition: all .25s ease-in-out;
  }

  .globalmenu-toggle.is-open .icon-bar:nth-child(1) {
    background-color:#09b !important;
    transform: rotate(45deg) translate(5px, 4px);
  }

  .navbar-default .navbar-toggle span.icon-bar {
    background-color:#fff !important;
  }
    .navbar-default ul.dropdown-menu {
      background:none !important;
      position:relative !important;
      border-left:1px solid #fff;
      z-index:0;
      opacity:1 !important;
      width:100%;


    }

    .navbar-default .dropdown-menu li {
      border:none;

    }

  .navbar-default .navbar-nav .dropdown-menu>li>a{
        color:#fff !important;
        font-size:12px;
      }
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a {
      background:none !important;

    }
  .navbar-default li.dropdown-submenu > a:after,  .navbar-default .dropdown-menu:before {
      display:none;
    }

    li.dropdown-submenu> .dropdown-menu {
      position:relative;
      display: block;
      left: 0% !important;
    }

    li.dropdown-submenu> .dropdown-menu li {
      padding:0 0 0 20px;

        }

    li.dropdown-submenu> .dropdown-menu li a {
      font-size:11px !important;
    }

    /*hiding the caoursel controls on mobile*/
.carousel-control.left, .carousel-control.right {
  display:none;
}

}


/*
.posts { min-height: 760px; } */

/* Carousel */

#doyleCarousel {
  margin:0 0 50px 0;
  background: #eee;
  padding:20px 0;

}
#doyleCarousel .carousel-inner {
  max-width: 1170px;
  margin:auto;
}
#doyleCarousel .carousel-inner .item .carousel-img{
max-height: 400px;
overflow:hidden;


}
#doyleCarousel .caption {
  text-align: left;
  background: #3c5175;
  padding: 1em;
}

#doyleCarousel .caption-title {
color: #fff;
}

#doyleCarousel .caption-desc p{
  color:#fff;
}

#doyleCarousel a.caption-link{
color: #eee;
border:1px solid #eee;
display:inline-block;
padding:10px 5px;

}
/*carousel control overrides*/
.carousel-control.left, .carousel-control.right {
  background: none;
      color: #3c5175;
      font-size: 50px;
      opacity: 1;
}
