/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 45px;
  color: #5a5a5a;
  background: #002147;
}

body a { color: #6caddf; text-decoration: none; }

#page {
    background: #fff;
}

h1, h2, h3, h4 {
    font-weight: 600;
    line-height: 1.4em;
    font-family: 'proxima-nova', sans-serif;
}

h1 {
  letter-spacing:3px;
  text-transform: uppercase;
}

h2 {
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#recent-tier h2 {
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

h3 { font-size: 18px; padding-top: 10px;}
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 10px; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover { color: #6caddf; text-decoration: none; }

p, li {font-size: 18px; line-height: 1.75em;}
p.lead {color: #444; font-size: 24px; line-height: 32px; padding-top: 24px; }
p.quote {padding-right: 20px}
p.short {font-size: 14px;}

em { font-style: italic }
strong { font-weight: 600; color: #000; }
small { font-size: 80% }
hr { border: solid #eee; border-width: 1px 0 0; clear: both; height: 0; margin: 40px 0; }
blockquote p { font-size: 1.25em; font-style:italic; line-height: 1.75em; margin-bottom: 30px; margin-right: 20px; position: relative; font-family: 'Adobe Caslon Pro'; color:  #666; left: 4px no-repeat; padding-top: 14px; }
blockquote { border: 0; padding-left: 0; }

#footer {
    background: #002147 url('../img/stacked.png') 75% no-repeat;
    color: #fff;
    padding: 50px 0;
    margin-top: 50px;
    min-height: 250px;
}

#events-tier {
    background: url('../img/seal_banner.png') no-repeat #e6e6e6;
    min-height: 180px;
    border-bottom: 5px solid #6caddf;
    padding: 15px 0;
}

#recent-tier {
    margin-top: 50px;
}

#gradient {
    background: url('../img/gradient.png') repeat-x;
    min-height: 10px;
    /* margin-bottom: 40px; */
}

#georgetown-bar {
    background: #002147;
    padding: 10px 15px;
    text-align: right;
}

#page-header {
    background: url('../img/keybridge.jpg');
    height: 200px;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    margin-bottom: 30px;
}

.page-title {
    z-index: 998;
}

.page-title h1 {
    position: relative;
    color: #fff;
    z-index: 999;
    font-size: 48px;
    margin-top: 110px;
    font-weight: 600;
}

span.screen-reader-text {
    display: none;
}

form.search-form {
    padding-top: 20px;
}

.well h3 {
    padding-top: 0;
    margin-top: 10px;
}

/*
#subscribe_button {
    margin-top: 20px;
    margin-bottom: 20px;
}
*/

/* unused
#main {
    z-index: 1000;
}
*/

/* BLOGS
-------------------------------------------------- */

.updated {
	display: none;
}

code {
    white-space: normal;
}

.comment-awaiting-moderation {
    font-style: italic;
}

.wp-biographia-pic {
    background: none;
    border: none;
    padding: 0;
}

.wp-biographia-text h3 { padding-top: 5px; margin-top: 0; }

.entry-content img {
    /* width: 100%; */
    padding-bottom: 20px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 1000;
}

.navbar-default {
    text-transform: uppercase;
    font-weight: bold;
    min-height: 120px;
    background-color: #fff;
    border-bottom: 10px solid #6caddf;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-top: 24px;
    position: relative;
    min-height: 24px;
    min-width: 464px;
    top: 26px;
    left: 15px;
    background: url('../img/logo.png') no-repeat;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav a {
    letter-spacing: 1px;
    color: #666;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #fff;
}

.navbar li {
    font-size: 14px;
    padding-top: 3px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#carousel-wrapper {
    position: relative;
}

.scrim {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 997;
    pointer-events: none;
    background: url('../img/scrim.png');
}

/* Carousel base class */
.carousel {

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  /* margin-top: -90px; */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    text-align: left;
  z-index: 998;
  left: 43%;
  right: 20%;
}

.carousel-caption p {
    font-weight: 300;
}

.carousel-indicators, .carousel-control {
    z-index: 999;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #333;
  background: url('../img/slide1.jpg');
    /* background-size: cover; */
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
}

/*
.carousel-inner > .item > img {
    display: inline;
}
*/

/*
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 713px;
}
*/


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
    .carousel-caption {
        left: 15px;
        right: 15px;
    }
    
    h1.entry-title {
        font-size: 30px;
        line-height: 1em;
    }
    
    ul.pull-right {
        float: left!important;
    }
    
    .carousel-control span.glyphicon { display: none; }
    .carousel .item { height: 430px; background-position: top left; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #recent-tier img { width: 100%; }
}

@media (max-width: 979px) {
    .navbar-brand {
        min-height: 50px;
        min-width: 165px;
        top: 12px;
        background: url('../img/logo_stacked.png') no-repeat;
    }
    
    .carousel-caption h1 {
        font-size: 30px;
    }
    
    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4em;
    }
}

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 22px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}